C 600 -700 "RF_IN" 600 -700 0 0 60 0 L
X "PIN_TEXT" "RF_IN" 630 -470 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -500 600 -700 -1 0
C 1200 0 "GND_1" 1200 0 0 0 60 0 R
X "PIN_TEXT" "GND_1" 970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1000 0 1200 0 -1 0
C 600 1200 "RF-OUT_AND_DC-IN" 600 1200 0 0 60 0 R
X "PIN_TEXT" "RF-OUT_AND_DC-IN" 630 970 90 0.00 60 0 0 2 0 0 1 0 74
L 600 1000 600 1200 -1 0
C 0 0 "GND_2" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND_2" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
L 200 1000 1000 1000 -1 0
L 1000 -500 1000 1000 -1 0
L 1000 -500 200 -500 -1 0
L 200 1000 200 -500 -1 0
P "$LOCATION" "?" 1050 1170 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

